@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --primary: 231 229 228; 
  --first: 231 229 228; 
  --text-normal: 0 0 0; 
  --text-disabled: 100 116 139;
  /* --accent: 14 165 233; */
  --accent: 14 165 233;
  /* --accent-light: 185 185 185; */
  --accent-light: 168 162 158;
  --accent-lightest: 230 230 230; 
  --accent-cyan: 34 211 238;
  --orange: 250 145 60;
  --cream: 255 215 170;
  --gray: 75 85 100;
  --chocolate: 65 45 30;
  --cinnamon: 115 75 50;
  --lilac: 160 150 160;
  --fawn: 180 165 155;
  --white: 255 255 255;
  --black: 0 0 0;
}

html {
  margin: 0; 
  height: 100%; 
}

body {
  color: var(--text-normal);
  position: relative;
  padding-bottom: 2.5rem;
  margin: 0; 
  min-height: 100vh;
  /* height: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 248, 248);
  background-image: url("../public/the-lucky-neko-JYhw8TtoxTg-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}

